@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap");
:root {
  font-family: "Recursive", sans-serif;
}

#container {
  max-width: 25rem;
  margin: auto;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 15px 10px grey;
}
